body {
background-color: #c2d4cf; /* Cor de fundo para o corpo do site */
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

header, footer {
text-align: center;
padding: 10px 0;
background-color: #c2d4cf;
width: 100%;
}

.nav-bar {
display: flex;
justify-content: space-between; /* Distribui o logo e o menu */
align-items: center;
max-width: 1200px;
margin: 0 auto; /* Centraliza o conteúdo */
}

.logo img {
width: 150px;
}

.nav-list {
flex: 1; /* Faz o nav-list ocupar o espaço restante */
display: flex;
justify-content: center; /* Centraliza os itens dentro do contêiner */
}

.nav-list ul {
display: flex;
justify-content: center; /* Centraliza os itens horizontalmente */
gap: 15px;
margin: 0;
padding: 0;
list-style: none;
}

.nav-item a {
text-decoration: none;
color: black;
font-size: 16px;
}

.objetivo {
background-color: white;
padding: 10px;
max-width: 500px;
width: 100%;
margin: 20px auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
border-radius: 50px;
}

.principal {
color: #177b2e;
font-size: larger;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article {
background-color: #c2d4cf;
padding: 20px;
width: 100%;
margin: 0;
}

footer {
background-color: #c2d4cf;
padding: 10px 0;
text-align: center;
width: 100%;
}