header, footer {
    text-align: center;
    padding: 10px 0; /* Reduz o espaço vertical */
    background-color: rgb(60, 92, 13);
}

header {
    box-shadow: 0px 3px 10px #e4e2e2;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    gap: 15px; /* Ajusta o espaçamento entre os itens de navegação */
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #040404ee;
    font-weight: 400;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
